openapi: 3.0.1
info:
  title: RX/SeaPort Rest Services
  description: These rest services are available for the Port of Zeebrugge.
  contact:
    email: support@rxseaport.eu
  version: 1.0.0
externalDocs:
  description: Find out more about RX/SeaPort
  url: http://www.rxseaport.eu
servers:
- url: https://portal.rxseaport.eu/ords/prd/zedis/v1
paths:
  /stay:
    get:
      tags:
      - "stay"
      summary: Stay Info
      description: Returns detailed information on a passed-in stay number (including its voyages and passages).
      operationId: getStay
      parameters:
      - name: number
        in: query
        description: Stay Number
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Response format
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            default: xml
            enum:
            - xml
            - json
      - name: token
        in: query
        description: Authentication token (aka API Key)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/xml:
              examples:
                Example1:
                  summary: Example 1
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Stay VersionMajor="1" VersionMinor="0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:RXZDD"><Header><Request>237004</Request><Endpoint>/ords/prd/zedis/v1/stay</Endpoint><Parameters><Parameter><Name>Number</Name><Value>521262</Value></Parameter><Parameter><Name>Format</Name><Value>XML</Value></Parameter></Parameters><Timestamp>2020-02-04T12:52:16Z</Timestamp></Header><Body><Number>521262</Number><Status>Active</Status><Vessel><Name>JORK</Name><IMO>9234991</IMO><MMSI>209715000</MMSI><CallSign>P3CJ9</CallSign><Flag><Code>CY</Code><Name>Cyprus</Name></Flag><ShipType><Code>1511</Code><Name>Full Container Ship/Cellular Vessel</Name><Description>Vessel designed to carry containers only.</Description></ShipType><OverallLength>134.44</OverallLength><OverallBeam>22.75</OverallBeam><MaxDraught>8.70</MaxDraught><GrossTonnage>9981.00</GrossTonnage></Vessel><ETA>2020-02-03T15:32:00Z</ETA><ATA>2020-02-03T14:45:43Z</ATA><ETD>2020-02-04T13:30:00Z</ETD><Origin><Port><Code>BEANR</Code><Name>Antwerpen</Name><Coordinates><Latitude>51.21666667</Latitude><Longitude>4.41666667</Longitude></Coordinates><Country><Code>BE</Code><Name>Belgium</Name></Country></Port><ETD>2020-02-03T11:30:00Z</ETD></Origin><Destination><Port><Code>IEDUB</Code><Name>Dublin</Name><Country><Code>IE</Code><Name>Ireland</Name></Country></Port><ETA>2020-02-06T11:35:00Z</ETA></Destination><Voyages><Voyage><Number>521262I</Number><Sequence>1</Sequence><Type>IN</Type><Agent>NEWMAA</Agent><From><Location><Code>BEANR</Code><Name>Antwerpen Haven</Name></Location><EstimatedTime>2020-02-03T11:30:00Z</EstimatedTime><ActualTime>2020-02-03T11:32:00Z</ActualTime></From><To><Location><Code>BEZEE0750300120</Code><Name>CSP Zeebrugge Terminal (K120)</Name></Location><EstimatedTime>2020-02-03T15:32:00Z</EstimatedTime><ActualTime>2020-02-03T14:45:43Z</ActualTime><MooringSide>SB</MooringSide></To><Passages><Passage><LoCode>BEZEE</LoCode><FairwayCode>07503</FairwayCode><Description>STREK</Description><Type>PASSAGE</Type><ActualTime>2020-02-03T14:45:43Z</ActualTime></Passage></Passages><Draught>6.40</Draught><Persons><Crew>12</Crew></Persons></Voyage><Voyage><Number>521262U</Number><Sequence>2</Sequence><Type>OUT</Type><Agent>NEWMAA</Agent><From><Location><Code>BEZEE0750300120</Code><Name>CSP Zeebrugge Terminal (K120)</Name></Location><EstimatedTime>2020-02-04T13:30:00Z</EstimatedTime><MooringSide>GV</MooringSide></From><To><Location><Code>BESEA0WEST00AWN</Code><Name>Wandelaar</Name></Location></To><Passages/><Draught>6.50</Draught><Persons><Crew>12</Crew></Persons></Voyage></Voyages></Body></Stay>'
                Example2:
                  summary: Example 2
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Stay VersionMajor="1" VersionMinor="0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:RXZDD"><Header><Request>237029</Request><Endpoint>/ords/prd/zedis/v1/stay</Endpoint><Parameters><Parameter><Name>Number</Name><Value>521301</Value></Parameter><Parameter><Name>Format</Name><Value>XML</Value></Parameter></Parameters><Timestamp>2020-02-04T13:11:56Z</Timestamp></Header><Body><Number>521301</Number><Status>Active</Status><Vessel><Name>NORSKY</Name><IMO>9186182</IMO><MMSI>230652000</MMSI><CallSign>OJRB</CallSign><Flag><Code>FI</Code><Name>Finland</Name></Flag><ShipType><Code>1512</Code><Name>RoRo Vessel</Name><Description>Vessel with ramp designed to carry roll-on/roll-off cargo.</Description></ShipType><OverallLength>180.97</OverallLength><OverallBeam>25.20</OverallBeam><MaxDraught>6.50</MaxDraught><GrossTonnage>20296.00</GrossTonnage></Vessel><ETA>2020-02-04T18:20:00Z</ETA><ETD>2020-02-04T22:00:00Z</ETD><Origin><Port><Code>GBTIL</Code><Name>Tilbury</Name><Country><Code>GB</Code><Name>United Kingdom</Name></Country></Port><ETD>2020-02-04T09:00:00Z</ETD></Origin><Destination><Port><Code>GBTIL</Code><Name>Tilbury</Name><Country><Code>GB</Code><Name>United Kingdom</Name></Country></Port><ETA>2020-02-05T05:00:00Z</ETA></Destination><Voyages><Voyage><Number>521301I</Number><Sequence>1</Sequence><Type>IN</Type><Agent>PONSF</Agent><From><Location><Code>BESEA0WEST00AWN</Code><Name>Wandelaar</Name></Location><EstimatedTime>2020-02-04T16:50:00Z</EstimatedTime></From><To><Location><Code>BEZEE0750300113</Code><Name>Zeebrugge Buitenhaven (K113)</Name></Location><EstimatedTime>2020-02-04T18:20:00Z</EstimatedTime><MooringSide>SB</MooringSide></To><Passages/><Draught>5.80</Draught><Persons><Crew>17</Crew></Persons></Voyage><Voyage><Number>521301U</Number><Sequence>2</Sequence><Type>OUT</Type><Agent>PONSF</Agent><From><Location><Code>BEZEE0750300113</Code><Name>Zeebrugge Buitenhaven (K113)</Name></Location><EstimatedTime>2020-02-04T22:00:00Z</EstimatedTime><MooringSide>GV</MooringSide></From><To><Location><Code>BESEA0WEST00AWN</Code><Name>Wandelaar</Name></Location></To><Passages/><Draught>5.50</Draught><Persons><Crew>17</Crew></Persons></Voyage></Voyages></Body></Stay>'
            application/json:
              examples:
                Example1:
                  summary: Example 1
                  value: '{ "@VersionMajor": 1, "@VersionMinor": 0, "Header": { "Request": 237038, "Endpoint": "/ords/prd/zedis/v1/stay", "Parameters": [ { "Name": "Number", "Value": 521262 }, { "Name": "Format", "Value": "JSON" } ], "Timestamp": "2020-02-04T13:21:58Z" }, "Body": { "Number": 521262, "Status": "Active", "Vessel": { "Name": "JORK", "IMO": 9234991, "MMSI": 209715000, "CallSign": "P3CJ9", "Flag": { "Code": "CY", "Name": "Cyprus" }, "ShipType": { "Code": 1511, "Name": "Full Container Ship/Cellular Vessel", "Description": "Vessel designed to carry containers only." }, "OverallLength": 134.44, "OverallBeam": 22.75, "MaxDraught": 8.7, "GrossTonnage": 9981.0 }, "ETA": "2020-02-03T15:32:00Z", "ATA": "2020-02-03T14:45:43Z", "ETD": "2020-02-04T13:30:00Z", "Origin": { "Port": { "Code": "BEANR", "Name": "Antwerpen", "Coordinates": { "Latitude": 51.21666667, "Longitude": 4.41666667 }, "Country": { "Code": "BE", "Name": "Belgium" } }, "ETD": "2020-02-03T11:30:00Z" }, "Destination": { "Port": { "Code": "IEDUB", "Name": "Dublin", "Country": { "Code": "IE", "Name": "Ireland" } }, "ETA": "2020-02-06T11:35:00Z" }, "Voyages": [ { "Number": "521262I", "Sequence": 1, "Type": "IN", "Agent": "NEWMAA", "From": { "Location": { "Code": "BEANR", "Name": "Antwerpen Haven" }, "EstimatedTime": "2020-02-03T11:30:00Z", "ActualTime": "2020-02-03T11:32:00Z" }, "To": { "Location": { "Code": "BEZEE0750300120", "Name": "CSP Zeebrugge Terminal (K120)" }, "EstimatedTime": "2020-02-03T15:32:00Z", "ActualTime": "2020-02-03T14:45:43Z", "MooringSide": "SB" }, "Passages": { "Passage": { "LoCode": "BEZEE", "FairwayCode": "07503", "Description": "STREK", "Type": "PASSAGE", "ActualTime": "2020-02-03T14:45:43Z" } }, "Draught": 6.4, "Persons": { "Crew": 12 } }, { "Number": "521262U", "Sequence": 2, "Type": "OUT", "Agent": "NEWMAA", "From": { "Location": { "Code": "BEZEE0750300120", "Name": "CSP Zeebrugge Terminal (K120)" }, "EstimatedTime": "2020-02-04T13:30:00Z", "MooringSide": "GV" }, "To": { "Location": { "Code": "BESEA0WEST00AWN", "Name": "Wandelaar" } }, "Passages": null, "Draught": 6.5, "Persons": { "Crew": 12 } } ] } }'
                Example2:
                  summary: Example 2
                  value: '{ "@VersionMajor": 1, "@VersionMinor": 0, "Header": { "Request": 237030, "Endpoint": "/ords/prd/zedis/v1/stay", "Parameters": [ { "Name": "Number", "Value": 521301 }, { "Name": "Format", "Value": "JSON" } ], "Timestamp": "2020-02-04T13:12:08Z" }, "Body": { "Number": 521301, "Status": "Active", "Vessel": { "Name": "NORSKY", "IMO": 9186182, "MMSI": 230652000, "CallSign": "OJRB", "Flag": { "Code": "FI", "Name": "Finland" }, "ShipType": { "Code": 1512, "Name": "RoRo Vessel", "Description": "Vessel with ramp designed to carry roll-on/roll-off cargo." }, "OverallLength": 180.97, "OverallBeam": 25.2, "MaxDraught": 6.5, "GrossTonnage": 20296.0 }, "ETA": "2020-02-04T18:20:00Z", "ETD": "2020-02-04T22:00:00Z", "Origin": { "Port": { "Code": "GBTIL", "Name": "Tilbury", "Country": { "Code": "GB", "Name": "United Kingdom" } }, "ETD": "2020-02-04T09:00:00Z" }, "Destination": { "Port": { "Code": "GBTIL", "Name": "Tilbury", "Country": { "Code": "GB", "Name": "United Kingdom" } }, "ETA": "2020-02-05T05:00:00Z" }, "Voyages": [ { "Number": "521301I", "Sequence": 1, "Type": "IN", "Agent": "PONSF", "From": { "Location": { "Code": "BESEA0WEST00AWN", "Name": "Wandelaar" }, "EstimatedTime": "2020-02-04T16:50:00Z" }, "To": { "Location": { "Code": "BEZEE0750300113", "Name": "Zeebrugge Buitenhaven (K113)" }, "EstimatedTime": "2020-02-04T18:20:00Z", "MooringSide": "SB" }, "Passages": null, "Draught": 5.8, "Persons": { "Crew": 17 } }, { "Number": "521301U", "Sequence": 2, "Type": "OUT", "Agent": "PONSF", "From": { "Location": { "Code": "BEZEE0750300113", "Name": "Zeebrugge Buitenhaven (K113)" }, "EstimatedTime": "2020-02-04T22:00:00Z", "MooringSide": "GV" }, "To": { "Location": { "Code": "BESEA0WEST00AWN", "Name": "Wandelaar" } }, "Passages": null, "Draught": 5.5, "Persons": { "Crew": 17 } } ] } }'
        400:
          description: Bad Request
          content:
            application/xml:
              examples:
                MissingParameter:
                  summary: Missing Parameter
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>PARAMETER_MISSING</Code><Message>A required input parameter is missing in your request. Please consult the web service documentation.</Message></Error>'
                MissingData:
                  summary: Missing Data
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>DATA_MISSING</Code><Message>No data was found for your selection. Please try again with another selection.</Message></Error>'
            application/json:
              examples:
                MissingParameter:
                  summary: Missing Parameter
                  value: '{"Code": "PARAMETER_MISSING","Message": "A required input parameter is missing in your request. Please consult the web service documentation."}'
                MissingData:
                  summary: Missing Data
                  value: '{"Code": "DATA_MISSING","Message": "No data was found for your selection. Please try again with another selection."}'
        403:
          description: Unauthorized
          content:
            application/xml:
              examples:
                MissingToken:
                  summary: Missing Token
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>TOKEN_MISSING</Code><Message>An access token was not supplied. See documentation for details on how to pass your token to the web service.</Message></Error>'
                InvalidToken:
                  summary: Invalid Token
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>TOKEN_INVALID</Code><Message>An invalid access token was supplied. Double check that the token being passed in is valid or signup for a token.</Message></Error>'
                DisabledToken:
                  summary: Missing Token
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>TOKEN_DISABLED</Code><Message>The supplied token has been disabled. Please contact us for assistance.</Message></Error>'
                ExpiredToken:
                  summary: Expired Token
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>TOKEN_EXPIRED</Code><Message>The supplied token is expired. Please contact us for assistance.</Message></Error>'
                UnauthorizedToken:
                  summary: Unauthorized Token
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>TOKEN_UNAUTHORIZED</Code><Message>The supplied token is not authorized to access the given web service. Please contact us for assistance.</Message></Error>'
            application/json:
              examples:
                MissingToken:
                  summary: Missing Token
                  value: '{"Code": "TOKEN_MISSING","Message": "An access token was not supplied. See documentation for details on how to pass your token to the web service."}'
                InvalidToken:
                  summary: Invalid Token
                  value: '{"Code": "TOKEN_INVALID","Message": "An invalid access token was supplied. Double check that the token being passed in is valid or signup for a token."}'
                DisabledToken:
                  summary: Disabled Token
                  value: '{"Code": "TOKEN_DISABLED","Message": "The supplied token has been disabled. Please contact us for assistance."}'
                ExpiredToken:
                  summary: Expired Token
                  value: '{"Code": "TOKEN_EXPIRED","Message": "The supplied token is expired. Please contact us for assistance."}'
                UnauthorizedToken:
                  summary: Unauthorized Token
                  value: '{"Code": "TOKEN_UNAUTHORIZED","Message": "The supplied token is not authorized to access the given web service. Please contact us for assistance."}'
        500:
          description: Error
          content:
            application/xml:
              examples:
                Error:
                  summary: Error
                  value: '<?xml version="1.0" encoding="UTF-8" ?><Error><Code>ORA-XXXXX</Code><Message>Explanation for the error.</Message></Error>'
            application/json:
              examples:
                Error:
                  summary: Error
                  value: '{"Code": "ORA-XXXXX","Message": "Explanation for the error."}'
